<div class="container-fluid pagError">
  <svg width="380px" height="500px" viewBox="0 0 837 1045" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
      <path d="M353,9 L626.664028,170 L626.664028,487 L353,642 L79.3359724,487 L79.3359724,170 L353,9 Z" id="Polygon-1" stroke="#007FB2" stroke-width="6" sketch:type="MSShapeGroup"></path>
      <path d="M78.5,529 L147,569.186414 L147,648.311216 L78.5,687 L10,648.311216 L10,569.186414 L78.5,529 Z" id="Polygon-2" stroke="#EF4A5B" stroke-width="6" sketch:type="MSShapeGroup"></path>
      <path d="M773,186 L827,217.538705 L827,279.636651 L773,310 L719,279.636651 L719,217.538705 L773,186 Z" id="Polygon-3" stroke="#795D9C" stroke-width="6" sketch:type="MSShapeGroup"></path>
      <path d="M639,529 L773,607.846761 L773,763.091627 L639,839 L505,763.091627 L505,607.846761 L639,529 Z" id="Polygon-4" stroke="#F2773F" stroke-width="6" sketch:type="MSShapeGroup"></path>
      <path d="M281,801 L383,861.025276 L383,979.21169 L281,1037 L179,979.21169 L179,861.025276 L281,801 Z" id="Polygon-5" stroke="#36B455" stroke-width="6" sketch:type="MSShapeGroup"></path>
    </g>
  </svg>
  <div class="message-box">
    <h1>404</h1>
    <p>Page not found</p>
    <div class="buttons-con">
      <div class="action-link-wrap">
        <!-- <a onclick="history.back(-1)" class="link-button link-back-button">Go Back</a> -->
        <a routerLink="/citas/ver-citas" class="link-button">Citas</a>
        <a routerLink="/citas/nueva-cita" class="link-button">Nueva Citas</a>
        <a routerLink="/citas/actualizar-cita/:id" class="link-button">Actualizar Citas</a>
      </div>
    </div>
  </div>
</div>

<!-- <div id="background"></div>
<div class="top">
  <h1>404</h1>
  <h3>page not found</h3>
</div>
<div class="container">
  <div class="ghost-copy">
    <div class="one"></div>
    <div class="two"></div>
    <div class="three"></div>
    <div class="four"></div>
  </div>
  <div class="ghost">
    <div class="face">
      <div class="eye"></div>
      <div class="eye-right"></div>
      <div class="mouth"></div>
    </div>
  </div>
  <div class="shadow"></div>
</div>
<div class="bottom">
  <p>Boo, looks like a ghost stole this page!</p>
  <form class="search">
    <input type="text" class="search-bar" placeholder="Search">
    <button type="submit" class="search-btn">
      <i class="fa fa-search"></i>
    </button>
  </form>
  <div class="buttons">
    <button class="btn">Back</button>
    <button class="btn">Home</button>
  </div>
</div>

<footer>
  <p>made by <a href="https://codepen.io/juliepark"> julie</a> ♡
</footer> -->
